<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentsCabecera::header"/>
  <body>
	<div th:replace="fragmentsCabecera::menu"></div>
    <div class="container">
		<div style="max-width: 580px;margin-left: 20%;">
	        <form method="POST" class="form-general" th:object="${estanciaForm}" th:action="@{/modificarHabitacion}">
	            <h3 class="form-heading text-center p-2" th:text="#{titulo.modificarEstancia}"></h3>
	            <input type="hidden" th:field="*{idestancia}"/>
	            <div class="form-group row">
		            <label for="inputEstancia" class="col-sm-2 col-form-label" th:text="#{etiqueta.nombre}"></label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{nombre}" class="form-control" th:attr="placeholder=#{etiqueta.nombre}"
	                       autofocus="true">
	                	<span class="has-error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
				    </div>	                
	            </div>
	            
	            <div class="form-group row">
				    <label for="inputPassword" class="col-sm-2 col-form-label" th:text="#{etiqueta.descripcion}"></label>
				    <div class="col-sm-10">
				    	<textarea class="form-control" th:field="*{descripcion}" th:attr="placeholder=#{etiqueta.descripcion}" rows="3"></textarea>
	                	<span class="has-error" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
				    </div>
			  	</div>			  	
	            
	            <div class="form-group">
	                
	            </div>
	
	            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{boton.aceptar}"></button>
	        </form>
		</div>
    </div>

 </body>
</html>