table tr th {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opciones{
	cursor: auto;
}

.asc:after {
  content: "↑";
}

.desc:after {
  content: "↓";
}